<!DOCTYPE html>
<html class="no-js home" lang="es">
  <head>
    <meta charset="utf-8" />
    <!--[if IE]><![endif]-->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <title>Club Deportivo De Karate Do Kansei</title>
    <link href="images/favicon.png" rel="shortcut icon" />
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold" rel="stylesheet" />
    <link href="stylesheets/global.css" rel="stylesheet" />
    <script src="javascripts/modernizr.js"></script>
  </head>
  
  <!--[if lte IE 6 ]> <body class="ie8 ie7 ie6"> <![endif]-->
  <!--[if lt IE 7 ]> <body class="ie8 ie7"> <![endif]-->
  <!--[if IE 8 ]> <body class="ie8"> <![endif]-->
  <!--[if IE 9 ]> <body class="ie9"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->
    <div id="outer-wrapper">
      <div id="wrapper" class="clearfix">
        <header id="header" class="clearfix">
          <h1 id="logo"><a href=""><img src="images/logo.png" alt="" /></a></h1>
          <nav>
            <ul class="social-media">
              <li><a href=""><img src="images/icons/facebook.png" alt="Facebook" title="Síguenos en Facebook" /></a></li>
              <li><a href=""><img src="images/icons/twitter.png" alt="Twitter" title="Síguenos en Twitter" /></a></li>
              <li><a href=""><img src="images/icons/youtube.png" alt="Youtube" title="Visita Nuestro Canal en Youtube" /></a></li>
            </ul>
            <ul>
              <li><a href="">Inicio</a></li>
              <li class="dropdown"><a href="">Karate Do Shotokan</a>
                <ul>
                  <li><a href="">El Dojo</a></li>
                  <li><a href="">Terminología</a></li>
                  <li><a href="">Técnicas</a></li>
                  <li><a href="">Kata</a></li>
                  <li><a href="">Kumite</a></li>
                  <li><a href="">Competencias</a></li>
                  <li><a href="">Cinturones y Exámenes</a></li>
                  <li><a href="">Japonés Básico</a></li>
                </ul>
              </li>
              <li><a href="">Videos</a></li>
              <li><a href="">Nuestro Club</a></li>
              <li><a href="">Contáctenos</a></li>
            </ul>
          </nav>
        </header>

        <div id="content" class="clearfix">
          <div class="post">
            <header>
              <h2><a href="">Hello World</a></h2>
              <div class="date"><span>May</span><span>18</span></div>
            </header>
            <div class="content">
              <a href="" class="post-thumb"><img src="http://www.clubkansei.com/images/entradas/thumbs/cinturones.jpg" alt="" /></a>
              Lorem Ipsum
              <a href="" class="more">Ver entrada completa...</a>
            </div>
            <aside>
              <ul class="share">
                <li><iframe src="http://www.facebook.com/plugins/like.php?href&amp;send=false&amp;layout=box_count&amp;width=71&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=tahoma&amp;height=60" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:71px; height:60px;" allowTransparency="true"></iframe></li>
                <li><a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="ClubKansei" data-related="DBohorquez" data-lang="es">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></li>
              </ul>
            </aside>
            <footer>
              <a href=""><span><span>10</span></span> <span>Comentarios</span></a>
              <ul>
                <li><a href=""><span>Kata Equipo</span></a></li>
                <li><a href=""><span>Bunkai</span></a></li>
                <li><a href=""><span>Videos</span></a></li>
                <li><a href=""><span>Luca Valdesi</span></a></li>
              </ul>
            </footer>
          </div><!-- .post END -->
        
          <div class="post">
            <header>
              <h2><a href="">Hello World</a></h2>
              <div class="date"><span>May</span><span>18</span></div>
            </header>
            <div class="content">
              <p>Lorem Ipsum dolor sit amet. Lorem <strong>ipsum dolor</strong> sit amet.</p>
              <aside class="pullquote">
                <blockquote>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet</blockquote>
              </aside>
              <p>Lorem Ipsum dolor <a href="">sit amet</a>. Lorem <em>ipsum</em> dolor sit amet.</p>
              <ul>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
              </ul>
              <ol>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
              </ol>
              <blockquote>
                <p>Lorem ipsum dolor sit amet</p>
                <cite>&mdash; Lorem ipsum</cite>
              </blockquote>
              <table>
                <tr>
                  <th>Lorem ipsum</th>
                </tr>
                <tr>
                  <td>Lorem ipsum</td>
                </tr>
                <tr>
                  <td>Lorem ipsum</td>
                </tr>
                <tr>
                  <td>Lorem ipsum</td>
                </tr>
              </table>
              <a href="" class="more">Ver entrada completa...</a>
            </div>
            <footer>
              <a href=""><span><span>10</span></span> <span>Comentarios</span></a>
              <ul>
                <li><a href=""><span>Kata Equipo</span></a></li>
                <li><a href=""><span>Bunkai</span></a></li>
                <li><a href=""><span>Videos</span></a></li>
                <li><a href=""><span>Luca Valdesi</span></a></li>
              </ul>
            </footer>
          </div><!-- .post END -->
        </div><!-- #content END -->
    
        <aside id="sidebar">
          <div class="widget clean">
            <form action="">
              <div class="search">
                <input type="text" placeholder="Buscar..." />
                <input type="submit" value="" />
              </div>
            </form>
          </div>
          <div class="widget">
            <div class="wrapper">
              <h4>Encuesta</h4>
              <h5>¿Cuándo Tendré Mi Siguiente Cinturón?</h5>
              <form action="">
                <fieldset>
                  <div class="field checkbox">
                    <input type="radio" />
                    <label for="">Menos de 6 meses de enrtenamiento</label>
                  </div>
                  <div class="field checkbox">
                    <input type="radio" />
                    <label for="">Aproximadamente entre 6 y 8 meses de entrenamiento</label>
                  </div>
                  <div class="field checkbox">
                    <input type="radio" />
                    <label for="">Menos de 6 meses de enrtenamiento</label>
                  </div>
                </fieldset>
                <div class="aligncenter">
                  <input type="submit" class="btn" value="Vota" />
                </div>
              </form>
            </div>
          </div>
          <div class="widget">
            <div class="wrapper">
              <h4>Categorías</h4>
              <ul class="tag-cloud">
                <li><a href="" title="3 Entradas" data-posts="3" class="tag-lv1">Anuncios</a></li>
                <li><a href="" title="13 Entradas" data-posts="3" class="tag-lv2">Bunkai</a></li>
                <li><a href="" title="23 Entradas" data-posts="3" class="tag-lv3">Artículos</a></li>
                <li><a href="" title="33 Entradas" data-posts="3" class="tag-lv4">Videos</a></li>
                <li><a href="" title="5 Entradas" data-posts="3" class="tag-lv1">Cinturones</a></li>
                <li><a href="" title="18 Entradas" data-posts="3" class="tag-lv2">Luca Valdesi</a></li>
                <li><a href="" title="10 Entradas" data-posts="3" class="tag-lv2">Defensa Personal</a></li>
                <li><a href="" title="40 Entradas" data-posts="3" class="tag-lv5">Kata</a></li>
                <li><a href="" title="13 Entradas" data-posts="3" class="tag-lv2">Bunkai</a></li>
                <li><a href="" title="23 Entradas" data-posts="3" class="tag-lv3">Artículos</a></li>
                <li><a href="" title="5 Entradas" data-posts="3" class="tag-lv1">Cinturones</a></li>
                <li><a href="" title="18 Entradas" data-posts="3" class="tag-lv2">Luca Valdesi</a></li>
                <li><a href="" title="10 Entradas" data-posts="3" class="tag-lv2">Defensa Personal</a></li>
                <li><a href="" title="40 Entradas" data-posts="3" class="tag-lv5">Kata</a></li>
                <li><a href="" title="13 Entradas" data-posts="3" class="tag-lv2">Bunkai</a></li>
              </ul>
            </div>
          </div>
          <div class="widget">
            <div class="wrapper">
              <h4>Entradas Recientes</h4>
              <ul class="post-list">
                <li class="image-block clearfix">
                  <div class="image"><a href=""><img src="http://www.clubkansei.com/images/entradas/thumbs/cinturones.jpg" alt="" /></a></div>
                  <div class="content">
                    <h5><a href="">Lorem Ipsum</a></h5>
                    <span class="date"> - May 18, 2011</span>
                  </div>
                </li>
                <li class="image-block clearfix">
                  <div class="image"><a href=""><img src="http://www.clubkansei.com/images/entradas/thumbs/valor-entrenador.jpg" alt="" /></a></div>
                  <div class="content">
                    <h5><a href="">Lorem Ipsum</a></h5>
                    <span class="date"> - May 18, 2011</span>
                  </div>
                </li>
                <li class="image-block clearfix">
                  <div class="image"><a href=""><img src="http://www.clubkansei.com/images/entradas/thumbs/cinturones.jpg" alt="" /></a></div>
                  <div class="content">
                    <h5><a href="">¿Cuándo Tendré Mi Siguiente Cinturón?</a></h5>
                    <span class="date"> - May 18, 2011</span>
                  </div>
                </li>
                <li class="image-block clearfix">
                  <div class="image"><a href=""><img src="http://www.clubkansei.com/images/entradas/thumbs/cinturones.jpg" alt="" /></a></div>
                  <div class="content">
                    <h5><a href="">¿Cuándo Tendré Mi Siguiente Cinturón? Lorem Ipsum</a></h5>
                    <span class="date"> - May 18, 2011</span>
                  </div>
                </li>
                <li class="image-block clearfix">
                  <div class="image"><a href=""><img src="http://www.clubkansei.com/images/entradas/thumbs/cinturones.jpg" alt="" /></a></div>
                  <div class="content">
                    <h5><a href="">Lorem Ipsum</a></h5>
                    <span class="date"> - May 18, 2011</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="widget">
            <div class="wrapper">
              <h4>Comentarios Recientes</h4>
              <ul class="post-list">
                <li class="image-block clearfix">
                  <div class="image"><a href=""><img src="http://www.clubkansei.com/images/autores/david-bohorquez.jpg" alt="" /></a></div>
                  <div class="content">
                    <span class="author">David</span> en:
                    <strong><a href="">Lorem Ipsum</a></strong>
                    <span class="date"> - May 18, 2011</span>
                  </div>
                </li>
                <li class="image-block clearfix">
                  <div class="image"><a href=""><img src="http://www.clubkansei.com/images/autores/david-bohorquez.jpg" alt="" /></a></div>
                  <div class="content">
                    <span class="author">David</span> en:
                    <strong><a href="">Lorem Ipsum</a></strong>
                    <span class="date"> - May 18, 2011</span>
                  </div>
                </li>
                <li class="image-block clearfix">
                  <div class="image"><a href=""><img src="http://www.clubkansei.com/images/autores/liliana-bohorquez.jpg" alt="" /></a></div>
                  <div class="content">
                    <span class="author">Liliana</span> en:
                    <strong><a href="">¿Cuándo Tendré Mi Siguiente Cinturón?</a></strong>
                    <span class="date"> - May 18, 2011</span>
                  </div>
                </li>
                <li class="image-block clearfix">
                  <div class="image"><a href=""><img src="http://www.clubkansei.com/images/autores/liliana-bohorquez.jpg" alt="" /></a></div>
                  <div class="content">
                    <span class="author">Liliana</span> en:
                    <strong><a href="">¿Cuándo Tendré Mi Siguiente Cinturón? Lorem Ipsum</a></strong>
                    <span class="date"> - May 18, 2011</span>
                  </div>
                </li>
                <li class="image-block clearfix">
                  <div class="image"><a href=""><img src="http://www.clubkansei.com/images/autores/david-bohorquez.jpg" alt="" /></a></div>
                  <div class="content">
                    <span class="author">David</span> en:
                    <strong><a href="">Lorem Ipsum</a></strong>
                    <span class="date"> - May 18, 2011</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </aside><!-- #sidebar END -->
      </div><!-- #wrapper END -->
  
      <footer id="footer">
        <div class="wrapper">
          <nav>
            <ul>
              <li><a href="">Karate Do Shotokan</a></li>
              <li><a href="">El Dojo</a></li>
              <li><a href="">Terminología</a></li>
              <li><a href="">Cinturones</a></li>
              <li><a href="">Japonés Básico</a></li>
            </ul>
            <ul>
              <li><a href="">Técnicas</a></li>
              <li><a href="">Kata</a></li>
              <li><a href="">Kumite</a></li>
              <li><a href="">Competencias</a></li>
              <li><a href="">Videos</a></li>
            </ul>
            <ul>
              <li><a href="">Inicio</a></li>
              <li><a href="">Nuestro Club</a></li>
              <li><a href="">Términos y Condiciones</a></li>
              <li><a href="">Contáctenos</a></li>
            </ul>
          </nav>
          <ul class="social-media">
            <li><a href=""><img src="images/icons/facebook.png" alt="Facebook" title="Síguenos en Facebook" /></a></li>
            <li><a href=""><img src="images/icons/twitter.png" alt="Twitter" title="Síguenos en Twitter" /></a></li>
            <li><a href=""><img src="images/icons/youtube.png" alt="Youtube" title="Visita Nuestro Canal en Youtube" /></a></li>
          </ul>
          <div class="copyright">
            <span>Diseñado por <a href="http://www.davidbohorquez.com/" target="_blank">David Bohórquez</a></span>
            <span>Copyright &copy; 2011 Club Deportivo de Karate Do Kansei</span>
          </div>
        </div>
      </footer>
    </div><!-- #outer-wrapper END -->
  
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="javascripts/jquery.js">\x3C/script>')</script>
    <!--[if (gte IE 6)&(lte IE 8)]>
      <script src="javascripts/selectivizr.js"></script>
    <![endif]-->
    <script src="javascripts/application.js"></script>

  </body>
</html>